 @import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400&display=swap');
:root {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}


h1, h2, h3, h4, h5 {
  padding: 0.5em 0;
  text-transform: uppercase;  
}

h1 {
  font-size: 200%;
  font-weight: bolder;
}

h2 {
  font-size: 144%;
  font-weight: bolder;
}

h3 {
  font-size: 116%;
  font-weight: bolder;
}

code {
  font-family: monospace;
  background-color: rgba(255,255,255,0.1);
  margin: 1em;
  padding: 1em;
  width: calc(100% - 4em);
  display: block;
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

em {
  font-weight: bolder;
}