@import "https://rsms.me/inter/inter.css";

/* CSS */
:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
  --highlight-color: #F57F00;
  --bg-color: black;
  --fg-color: white;
}

@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}
