<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/index.js" type="module"></script>
  <link href="/index.css" rel="stylesheet" type="text/css">
  <style>
    lnsy-edit {
      min-height: 100vh;
      background-color: black;
      padding: 0 1em 1em 0;
      margin: 0;
      color: white;
    }
  </style>
  <title>lnsyEdit</title>
</head>
<body>

  <two-columns>
    <lnsy-edit id="lnsy_edit"></lnsy-edit>
    <div id="result_div" style="padding:1em"></div>
  </two-columns>
  <script>
    lnsy_edit.addEventListener('save', (e) => {
      const markdown = document.createElement('mark-down');
      markdown.innerHTML = e.detail.content;
      result_div.innerHTML = ' ';
      result_div.appendChild(markdown)
    })
  </script>

</body>
</html>