@import "https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css";
@import "https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css";

:root {
  --geo-map-background-color: #FFFFFF;
  --geo-map-foreground-color: #000000;
  --geo-map-border-color: #2d2d2d;
  --geo-map-secondary-background-color: #000000;
  --geo-map-secondary-foreground-color: #ffffff;
  --column-footer-height: 1em;
  --column-footer-offset: 1em;
  --column-header-size: 1em;
  --column-text-color: black;
  --column-background-color: transparent;
}

geo-map {
  opacity: 0;
  margin:0;
  display:block;
  width:100%;
  height:400px;
  background-color:transparent;
  transition: opacity 0.5s ease-in;
}

geo-map map-container {
  position: absolute;
  display:block;
  left: 0pt;
  top: 0pt;
  width: 100%;
  height: 100%;
}

.far .near, .middle .near {
  display: none;
}

.far .middle, .far .near {
  display: none;
}

.middle .far, .middle .near {
  display: none;
}