/*
  markDown
  mark-down
*/
mark-down {
  display:block;
}

hash-tag {
  box-sizing: border-box;
  background-color: var(--highlight-color);
  color: black;
  cursor: pointer;
  padding-left: 3pt;
  padding-right: 3pt;
}